.header{
    background-color: indigo;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
}

.logo{
    color: white;
}
.logoTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoTitle i{
    font-size: 25px;
}
.navlist{
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
.navlistitem{
    margin-right: 2rem;
    font-weight: 700;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: #fff;
}